services:
  app:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: laravel-app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ../server:/var/www
    networks:
      - laravel

  web:
    image: nginx:alpine
    container_name: laravel-web
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ../server:/var/www
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

  db:
    image: postgres:15
    container_name: laravel-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: greek_gods
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - laravel

  client:
    image: node:20-alpine
    container_name: react-client
    working_dir: /app
    volumes:
      - ../client:/app
    ports:
      - "3000:3000"
    command: sh -c "npm install && npm start"
    networks:
      - laravel
    depends_on:
      - web

networks:
  laravel:

volumes:
  pgdata:
